body {
    background-color: black;
}

#homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 100px;
}


/* image and name */

img {
    background: url(16299_10152453068786263_5662911967803183478_n.jpg);
    border-radius: 500px;
    max-width: 500px;
    height: auto;
}

#title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 100px;
}

#name-and-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}


/* rest of site */


/* re-usable */

#container {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    padding-bottom: 50px;
}

h1 {
    font-family: 'Peddana', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 95px;
    text-align: center;
    color: whitesmoke;
}

h2 {
    font-family: 'Peddana', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 40px;
    text-align: center;
    color: whitesmoke;
}

h3 {
    font-family: 'Peddana', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: whitesmoke;
}

h4 {
    font-family: 'Peddana', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 40px;
    text-align: center;
    color: whitesmoke;
}

p {
    font-family: 'Peddana', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: whitesmoke;
}

a {
    text-decoration: none;
    font-family: 'Peddana', serif;
    font-style: normal;
    font-size: 40px;
}


/* end of reusable */


/* skills */

#skills {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

#skill-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.icon-container {
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    display: flex;
}

.icon-container i {
    color: whitesmoke;
    font-size: 5rem;
    margin: auto;
}


/* projects */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 100px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    float: left;
    width: 90%;
    margin: 1% 1% 45px 1%;
    padding-top: 50px;
}

.project-name {
    display: flex;
    bottom: 0px;
    font-family: 'Peddana', serif;
    font-style: normal;
    align-items: center;
    font-size: 30px;
}

.project img {
    width: 100%;
    display: flex;
    border-radius: 300px;
    max-width: 400px;
    height: auto;
    align-items: center;
}


/* interests */

#interests {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.interest {
    /* float: left; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 31%;
    margin: 1% 1% 45px 1%;
    padding-top: 50px;
}

.interest img {
    width: 100%;
    display: block;
    border-radius: 300px;
    max-width: 300px;
    height: auto;
    align-items: center;
}


/* contact info */

#contacts {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

#contacts-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.contact-icon {
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    display: flex;
}

.contact-icon i {
    font-size: 10rem;
    margin: auto;
}


/* #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
} */